cryptography==41.0.7
geopandas
bs4
requests
ipython==8.18.1
rdflib==7.0.0
rdflib-jsonld==0.6.2
python-dotenv==1.0.0
pyopenssl==23.3.0
pre-commit==3.3.1
psycopg2==2.9.9
sweetviz==2.2.1
unidecode==1.3.7
s3fs==2023.10.0
SQLAlchemy==2.0.23